body {
    background-image:url(img/Background.png) ;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}

p {
    text-indent: ;
    color: #ffffff;
    text-align: center;

}